/* Error: expected ")".
 *   ,
 * 2 | @import url(https://fonts.google.com/specimen/Fira + Sans?query=Fira + Sans&sidebar.open&selection.family=Fira + Sans:wght@500|Noto+Sans:wght@400;700|Noto + Serif);
 *   |                  ^
 *   '
 *   master.scss 2:18  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ")".\a   \2577 \a 2 \2502  @import url(https://fonts.google.com/specimen/Fira + Sans?query=Fira + Sans&sidebar.open&selection.family=Fira + Sans:wght@500|Noto+Sans:wght@400;700|Noto + Serif);\d\a   \2502                   ^\a   \2575 \a   master.scss 2:18  root stylesheet';
}
