$spacer: 1rem; // 16px in most browsers
$spacers: ();
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0, // 0px
    1: ($spacer * .25), // 4px
    2: ($spacer * .5), // 8px
    3: ($spacer * .75), // 12px
    4: $spacer, // 16px
    5: ($spacer * 1.5), // 24px
    6: ($spacer * 2), // 32px
    7: ($spacer * 3), // 48px
    8: ($spacer * 4), // 64px
    9: ($spacer * 8) // 128px
  ),
  $spacers
);